<nav class="bg-blue-900 shadow-md pt-4 w-full flex flex-col relative z-0">
  <div class="mx-12 sm:mx-20 md:mx-32 lg:mx-56 xl:mx-80">
    <div class="flex justify-between items-center mb-4">
      <a
        href="{% url 'content' %}"
        class="text-4xl font-black text-white tracking-tight"
      >
        StayWise
      </a>
      {% if request.resolver_match.url_name == 'content' %}
      <div class="space-x-4">
        <a
          href="{% url 'content' %}"
          class="text-white hover:text-blue-200 text-sm font-medium"
        >
          Inicio
        </a>
        <a
          href="{% url 'reservations' %}"
          class="text-white hover:text-blue-200 text-sm font-medium"
        >
          Reservas
        </a>
        <a
          href="{% url 'login' %}"
          class="text-white hover:text-blue-200 text-sm font-medium"
        >
          Iniciar sesión
        </a>
        <a
          href="{% url 'signup' %}"
          class="bg-white text-blue-700 px-4 py-2 rounded text-sm font-medium hover:bg-blue-100"
        >
          Registrarse
        </a>
      </div>
      {% endif %}
    </div>

    {% if request.resolver_match.url_name == 'content' %}
    <div class="flex items-center space-x-4 mt-2 mb-10 pb-10 mt-10">
      <button
        class="bg-white/90 backdrop-blur-sm text-blue-900 px-6 py-3 rounded-full font-medium flex items-center space-x-2 hover:bg-white hover:shadow-lg transition-all duration-200 border border-white/20"
      >
        <span>🏨</span>
        <span>otro mas</span>
      </button>
      <button
        class="bg-blue-800/70 backdrop-blur-sm text-white px-6 py-3 rounded-full font-medium flex items-center space-x-2 hover:bg-blue-700/80 hover:shadow-lg transition-all duration-200 border border-white/10"
      >
        <span>✈️</span>
        <span>filtro</span>
      </button>
      <button
        class="bg-blue-800/70 backdrop-blur-sm text-white px-6 py-3 rounded-full font-medium flex items-center space-x-2 hover:bg-blue-700/80 hover:shadow-lg transition-all duration-200 border border-white/10"
      >
        <span>🚗</span>
        <span>algun filtro</span>
      </button>
      <button
        class="bg-blue-800/70 backdrop-blur-sm text-white px-6 py-3 rounded-full font-medium flex items-center space-x-2 hover:bg-blue-700/80 hover:shadow-lg transition-all duration-200 border border-white/10"
      >
        <span>🎡</span>
        <span>filtrooo</span>
      </button>
    </div>
    {% endif %}

    <div class="mt-4 mb-16">
      <h1 class="text-4xl md:text-5xl font-extrabold text-white">
        Encuentra tu próxima estadía
      </h1>
      <p class="text-lg md:text-xl text-white mt-2">
        Busca ofertas en hoteles, casas y mucho más...
      </p>
    </div>
  </div>
</nav>
